<h1>Listing clubs</h1>

<table class="table table-striped table-bordered">
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Actions</th>
  </tr>

<% @clubs.each do |club| %>
  <tr>
    <td><%= club.name %></td>
    <td><%= club.address %></td>
    <td>
      <%= link_to 'Show', club, class: "btn" %>
      <%= link_to 'Edit', edit_club_path(club), class: "btn" %>
      <%= link_to 'Destroy', club, confirm: 'Are you sure?', method: :delete, class: "btn btn-danger" %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Club', new_club_path %>
