<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @club.name %>
</p>

<p>
  <b>Address:</b>
  <%= @club.address %>
</p>

<%= render "users/chart", users: @club.users %>
<%= render "scores/scores", scores: @club.scores %>


<%= link_to 'Edit', edit_club_path(@club), class: "btn" %>
<%= link_to 'Back', clubs_path, class: "btn" %>
